.footer {
    padding: 8px 12px 0 12px;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    background-color: #181D17;
    width: 100%;
    position: fixed;
    bottom: 0;
    flex-shrink: 0;
    z-index: 20;
}

.footer-web {
    display: none;
}




@media only screen and (min-width: 767px){

    .footer {
        display: none;
    }

    .footer-web{
        display: flex;
        width: 100%;
        height: 40px;
        position: fixed;
        bottom: 0;
        background-color: #181D17;
        color: #525651;
        font-size: 12px;
        justify-content: center;
        align-items: center;
        z-index: 20;
    }
}